.modal-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(4px);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

.modal-container{
background:white;
width:480px;
border-radius:12px;
padding:25px;
}

.modal-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.close-icon{
font-size:22px;
cursor:pointer;
}

.modal-body .form-group{
display:flex;
flex-direction:column;
margin-bottom:15px;
}

.modal-body input,
.modal-body select{
padding:10px;
border:1px solid #ddd;
border-radius:8px;
}

.row{
display:flex;
gap:15px;
}

.schedule-btn-modal{
margin-top:10px;
width:100%;
padding:12px;
border:none;
background:#118a0a;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
}